body{
    /* overflow-x: hidden; */
    width: 100%;
}
.wrapper{
    margin-left: 0;
    padding: 1rem;
}
.main-header{
    
    height: 4rem;
    padding-left: 2rem;
    background-color: #14213d;
    border-radius: 30px;
    box-shadow: 5px 5px 5px #000000;
    
}

.logo{
    color: white!important;
    
} 
.user-menu-wrapper{
    margin-top: 1.2rem;
    margin-right: 2rem;
    
}
.navbar-custom-menu .user {
    color: white;

}


